---
import Stars from "../assets/stars.svg"
---

<section class="py-20 bg-white" id="customers">
	<div class="container">
		<div class="text-center">
			<div class="max-w-[400px] mx-auto my-[10px]">
				<h3 class="text-[4rem] font-bold my-[10px]">Trusted by the companies you trust</h3>
				<p class="text-[1.8rem] my-[10px]">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, possimus deleniti
					illo corporie.
				</p>
			</div>

			<div class="mb-8">
				<div class="flex justify-center">
					<img alt="stars" src={Stars.src} class="w-20" />
					<span class="text-[1.3rem] ml-[10px]">Base on 87,00+ reviews</span>
				</div>
				<small><strong>1 millon</strong> customers and counting</small>
			</div>
			<div class="text-center">
				<a href="/" class="button button-primary">Start Trial — It's Free</a>
				<small class="block">No credit card required.</small>
			</div>
		</div>

		<div class="relative py-[70px]">
			<div class="left-side-avatars">
				<div class="absolute top-0 left-[20%] w-20 h-20 rounded-full overflow-hidden">
					<img
						alt="avatar"
						src="https://images.pexels.com/photos/1520760/pexels-photo-1520760.jpeg?auto=compress&cs=tinysrgb&w=800"
						class="w-full"
					/>
				</div>
				<div class="absolute top-[14%] left-[5%] w-20 h-20 rounded-full overflow-hidden">
					<img
						alt="avatar"
						src="https://images.pexels.com/photos/1493111/pexels-photo-1493111.jpeg?auto=compress&cs=tinysrgb&w=800"
						class="w-full"
					/>
				</div>
				<div class="absolute bottom-[14%] left-[5%] w-20 h-20 rounded-full overflow-hidden">
					<img
						alt="avatar"
						src="https://images.pexels.com/photos/2269872/pexels-photo-2269872.jpeg?auto=compress&cs=tinysrgb&w=800"
						class="w-full"
					/>
				</div>
				<div class="absolute bottom-0 left-[20%] w-20 h-20 rounded-full overflow-hidden">
					<img
						alt="avatar"
						src="https://images.pexels.com/photos/3058391/pexels-photo-3058391.jpeg?auto=compress&cs=tinysrgb&w=800"
						class="w-full"
					/>
				</div>
			</div>
			<div class="right-side-avatars">
				<div class="absolute top-0 right-[20%] w-20 h-20 rounded-full overflow-hidden">
					<img
						alt="avatar"
						src="https://images.pexels.com/photos/12599059/pexels-photo-12599059.jpeg?auto=compress&cs=tinysrgb&w=800"
						class="w-full"
					/>
				</div>
				<div class="absolute top-[14%] right-[5%] w-20 h-20 rounded-full overflow-hidden">
					<img
						alt="avatar"
						src="https://images.pexels.com/photos/3394657/pexels-photo-3394657.jpeg?auto=compress&cs=tinysrgb&w=800"
						class="w-full"
					/>
				</div>
				<div class="absolute bottom-[14%] right-[5%] w-20 h-20 rounded-full overflow-hidden">
					<img
						alt="avatar"
						src="https://images.pexels.com/photos/3211476/pexels-photo-3211476.jpeg?auto=compress&cs=tinysrgb&w=800"
						class="w-full"
					/>
				</div>
				<div class="absolute bottom-0 right-[20%] w-20 h-20 rounded-full overflow-hidden">
					<img
						alt="avatar"
						src="https://images.pexels.com/photos/3756985/pexels-photo-3756985.jpeg?auto=compress&cs=tinysrgb&w=800"
						class="w-full"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
