---
import Logo from "../assets/logodark.svg"
---

<header class="py-4">
	<div class="container row">
		<div class="nav-logo one-third column">
			<a href="/" class="block">
				<img src={Logo.src} alt="Brand logo" class="w-[90px] mt-[5px]" />
			</a>
		</div>
		<nav class="one-third column md:block hidden">
			<ul class="text-center flex justify-center">
				<li class="list-none mt-[7px]">
					<a href="#features" class="text-[#111] px-5 no-underline">Features</a>
				</li>
				<li class="list-none mt-[7px]">
					<a href="#pricing" class="text-[#111] px-5 no-underline">Pricing</a>
				</li>
				<li class="list-none mt-[7px]">
					<a href="#customers" class="text-[#111] px-5 no-underline">Customers</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
