---

---

<section class="bg-white" id="pricing">
	<div class="container">
		<div class="text-center max-w-[600px] mx-auto my-[50px]">
			<h3 class="text-[4rem] font-bold">Choose the right plan</h3>
			<p class="text-[1.8rem]">
				We have designed our pricing to help you find the best solutions for you and your incredible
				business
			</p>
		</div>

		<div class="row">
			<div class="one-third column border border-[#dde2e5] p-[30px] mt-5 rounded-[20px]">
				<div class="mb-8">
					<h5 class="text-[1.9rem] font-bold">Starter</h5>
					<h3 class="text-[3.2rem] font-bold">
						$9.99<span class="text-[1.3rem] text-[#9ba5b9]"> / month</span>
					</h3>
					<a href="/" class="button w-full">start trial</a>
				</div>

				<div class="price-list">
					{
						[
							"Unlimited Feedback boards",
							"Unlimited Prioritization Table",
							"Single Sign-On (SSO)",
							"Brand Customization",
							"Unlimited Tracked Users",
							"Custom Domain",
							"Unlimited Prioritization Table",
						].map((feature) => (
							<p class="my-[10px] relative pl-5 text-[1.8rem] before:content-[''] before:absolute before:left-0 before:top-[5px] before:inline-block before:rotate-45 before:h-2 before:w-[5px] before:border-b-2 before:border-r-2 before:border-[#9ba5b9] before:z-[5]">
								{feature}
							</p>
						))
					}
				</div>
			</div>
			<div class="one-third column border border-[#dde2e5] p-[30px] mt-5 rounded-[20px]">
				<div class="mb-8">
					<h5 class="text-[1.9rem] font-bold">Pro</h5>
					<h3 class="text-[3.2rem] font-bold">
						$19.99<span class="text-[1.3rem] text-[#9ba5b9]"> / month</span>
					</h3>
					<a href="/" class="button button-primary w-full">start trial</a>
				</div>

				<div class="price-list">
					{
						[
							"Unlimited Feedback boards",
							"Unlimited Prioritization Table",
							"Single Sign-On (SSO)",
							"Brand Customization",
							"Unlimited Tracked Users",
							"Custom Domain",
							"Unlimited Prioritization Table",
						].map((feature) => (
							<p class="my-[10px] relative pl-5 text-[1.8rem] before:content-[''] before:absolute before:left-0 before:top-[5px] before:inline-block before:rotate-45 before:h-2 before:w-[5px] before:border-b-2 before:border-r-2 before:border-[#9ba5b9] before:z-[5]">
								{feature}
							</p>
						))
					}
				</div>
			</div>
			<div class="one-third column border border-[#dde2e5] p-[30px] mt-5 rounded-[20px]">
				<div class="mb-8">
					<h5 class="text-[1.9rem] font-bold">Enterprise</h5>
					<h3 class="text-[3.2rem] font-bold">
						$49.99<span class="text-[1.3rem] text-[#9ba5b9]"> / month</span>
					</h3>
					<a href="/" class="button w-full">start trial</a>
				</div>

				<div class="price-list">
					{
						[
							"Unlimited Feedback boards",
							"Unlimited Prioritization Table",
							"Single Sign-On (SSO)",
							"Brand Customization",
							"Unlimited Tracked Users",
							"Custom Domain",
							"Unlimited Prioritization Table",
						].map((feature) => (
							<p class="my-[10px] relative pl-5 text-[1.8rem] before:content-[''] before:absolute before:left-0 before:top-[5px] before:inline-block before:rotate-45 before:h-2 before:w-[5px] before:border-b-2 before:border-r-2 before:border-[#9ba5b9] before:z-[5]">
								{feature}
							</p>
						))
					}
				</div>
			</div>
		</div>
	</div>
</section>
